{% extends 'base.html.twig' %}

{% block title %}Character index{% endblock %}


{% block body %}
    <h1>Character index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Enabled</th>
            <th>CreatedAt</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for character in characters %}
            <tr>
                <td>{{ character.id }}</td>
                <td>{{ character.name }}</td>
                <td>{{ character.age }}</td>
                <td>{{ character.sex }}</td>
                <td>{{ character.enabled ? 'Yes' : 'No' }}</td>
                <td>{{ character.createdAt ? character.createdAt|date('Y-m-d H:i:s') : '' }}</td>

                <td>
                    {% if is_granted(constant('App\\Security\\Voter\\VoterAccess::CHARACTER_SHOW'), character ) %}
                        <a href="{{ path('character_show', {'id': character.id}) }}" class="btn btn-success">Show</a>
                    {% endif %}
                    <a  class="btn btn-warning" href="{{ path('character_edit', {'id': character.id}) }}">edit</a>
                    <a  class="btn btn-primary" href="{{ path('character_add_years', {'id': character.id}) }}">Add me years</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('character_new') }}" class="btn btn-danger">Create new</a>
{% endblock %}
