{% extends 'base.html.twig' %}

{% block title %}ActionUser index{% endblock %}

{% block body %}
    <h1>ActionUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Created_at</th>
                <th>weapon</th>
                <th>game</th>
                <th>user</th>
                <th>Action</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for action_user in action_users %}
            <tr>
                <td>{{ action_user.id }}</td>
                <td>{{ action_user.createdAt ? action_user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{% if action_user.weapon is not null %}{{ action_user.weapon }}{% endif %}</td>
                <td>{% if action_user.weapon is not null %}{{ action_user.weapon.game }}{% endif %}</td>
                <td>{% if action_user.gameuser is not null %}{{ action_user.gameuser.user.username }}{% endif %}</td>
                <td>{{ action_user.action }}</td>
                <td>
                    <a href="{{ path('action_user_show', {'id': action_user.id}) }}">show</a>
                    <a href="{{ path('action_user_edit', {'id': action_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('action_user_new') }}">Create new</a>
{% endblock %}
