{% extends 'base.html.twig' %}

{% import "macros.html.twig" as macros %}

{% block title %}User{% endblock %}

{% block body %}

    <div class="row">
        <div class="small-12 columns">
            <h1>User : {{ app.user.username }}</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="small-12 columns">
            {% for weaponType in weaponsType %}
                <h5>{{ weaponType.name }} ==> weaponType.damage
                    <a class="badge badge-success" href="{{ path('weapon_new') }}">
                        Prendre {{ weaponType.name }}
                    </a>
                </h5>
            {% endfor %}
        </div>
    </div>
    <hr>
    <hr>
    <div class="row">
        <div class="small-12 columns">
            {% for weapon in weapons %}
                <h5 {% if weapon.inHand is same as(true) %} class="alert alert-success"{% endif %}>
                    {% if weapon.inHand is same as(false) %}
                    <a class="badge badge-success"
                       href="{{ path('weapon_load', {'id': weapon.id}) }}">Load</a>
                    {% endif %}
                    {{ weapon.WeaponType.name }}
                    ==> {{ weapon.name }} :
                    <a href="{{ path('weapon_edit', {'id': weapon.id}) }}">{{ weapon.ammunition }}
                        : </a>{{ macros.scarcity(weapon.scarcity) }}
                </h5>
            {% endfor %}
        </div>
    </div>

{% endblock body %}
